<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="nav">
          {% for nav in site.data.footer %}
            <a href="{{ nav.path }}?=support">{{ nav.name }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</footer>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ "/assets/js/custom.js" | relative_url }}"></script>
