<header id="header" class="">
  <div class="container">

    <div class="row">
      <div class="col-sm-12">
        {% if page.layout == 'post' %}
          <h2 id="logo"><a href="{{ site.baseurl }}" title="{{ site.title }}">{% include rail.svg %}</a></h2>
        {% else %}
          <h1 id="logo"><a href="{{ site.baseurl }}" title="{{ site.title }}">{% include rail.svg %}</a></h1>
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col">
        {% include nav.html %}
      </div>
    </div>

  </div>
</header>
