
// Headings


nav{
  font-family: $sans;
  font-weight: 400;
  font-size: 20px;
  // text-align: center;
  a.nav-link{
    border: 1px dotted #000;
    text-decoration: none;
    color: $black;
    // text-align: center;
  }
  a.nav-link:first-child{
    margin-right: 17px;
  }
  .active{}
}
