
// Quote Box

#quote-box{
  border-top: 2px #000 dotted;
  padding: 10px 15px 0 15px;
  .quote{
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    line-height: 40px;
    text-indent: -13px;
    display: none;
    color: #056ffb;
    span{
      margin-top: 20px;
      display: block;
      text-align: right;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      font-style: normal;
    }
  }
  .active{
    display: block;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  // #quote-box .quote{
  //   font-size: 36px;
  //   span{
  //     font-size: 20px;
  //   }
  // }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }
