
// Settings


// Colors
$white: #fff;
$black: #000;
$bg: #fff;
$base_type: 16px;


// Type


$serif: 'EB Garamond', serif;
$sans: 'Libre Franklin', sans-serif;
$mono: 'Roboto Mono', sans-serif;
$base_color: $black;



// - - - - - - - - - - - - -

body{
  color: $base_color;
  font-size: $base_type;
  font-family: $sans;
  background-color: $bg;
}

.paper{
  // margin: 15px 0;
}
.container{
  max-width: 960px;
}



#donate-prompt{
  button{
    font-size: 30px;
  }
}

#donate{
  #braintree{
    border: 10px solid red;
    height:500px;
    vertical-align: middle;
    text-align: center;
    p{
      padding-top: 200px;
      font-weight: 900;
      font-size: 40px;
      color: red;
    }
  }
}
