
// Settings


// Colors
$white: #fff;
$black: #000;
$bg: #efefef;
$base_type: 16px;


// Type


$serif: 'EB Garamond', serif;
$sans: 'Libre Franklin', sans-serif;
$mono: 'Roboto Mono', sans-serif;
$base_color: $black;



// - - - - - - - - - - - - -

body{
  color: $base_color;
  font-size: $base_type;
  font-family: $sans;
  background-color: $bg;
}

.paper{
  // margin: 15px 0;
}
.container{
  padding-top: 30px;
  padding-right: 25px;
  padding-left: 25px;
  max-width: 800px;
  background: #fff;
}
