
// Settings


// Colors
$white: #fff;
$black: #000;
$bg: #fff;
$base_type: 16px;


// Type


$serif: 'EB Garamond', serif;
$sans: 'Libre Franklin', sans-serif;
$mono: 'Roboto Mono', sans-serif;
$base_color: $black;



// - - - - - - - - - - - - -

body{
  color: $base_color;
  font-size: $base_type;
  font-family: $sans;
  background-color: $bg;
}

.paper{
  // margin: 15px 0;
}
.container{
  max-width: 700px;
}


#quote-box{
  margin: 40px 0 50px 0;
  // margin: 20px auto 20px auto;
  // background: #ffafaf;
  .quote{
    font-size: 30px;
    font-weight: 900;
    font-style: italic;
    color: #005af2;
    display: none;
    span{
      display: block;
      text-align: right;
      font-size: 18px;
      font-weight: 400;
      font-style: normal;
    }
  }
  .active{
    display: block;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #quote-box .quote{
    font-size: 36px;
    span{
      font-size: 20px;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }
