
#donate {
  margin: 40px 0;
}

#donate #braintree {
  /* padding: 50px; */
  /* background: #efefef; */
}


#donate #braintree p {
  padding-top: 200px;
  font-weight: 900;
  font-size: 40px;
  color: #ccc;
}

#donate #braintree .meta{
  margin-top: 35px;
  padding-top: 10px;
  font-size: 14px;
  border-top: 1px #ccc solid;
}

#donate #braintree .meta p{
  margin:0 0 8px 0;
}



#donate #braintree .helper-text {
  color: #8A6D3B;
  font-size: 12px;
  margin-top: 5px;
  height: 12px;
  display: block;
}

/* Braintree Hosted Fields styling classes*/
.braintree-hosted-fields-focused {
  border: 1px solid #0275d8;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.braintree-hosted-fields-focused.focused-invalid {
  border: 1px solid #ebcccc;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(100,100,0,.6);
}

@media (max-width: 670px) {
  .btn {
    white-space: normal;
  }
}

.hosted-field {
  height: 45px;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  display: inline-block;
  box-shadow: none;
  font-weight: 600;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid #dddddd;
  line-height: 20px;
  background: #fcfcfc;
  background: linear-gradient(to right, white 50%, #fcfcfc 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 300ms ease-in-out;
}

.hosted-fields--label {
  font-family: courier, monospace;
  text-transform: uppercase;
  font-size: 14px;
  display: block;
  margin-bottom: 6px;
}





/* Payment form =================== */

#card-number {
  border: 1px solid #333;
  -webkit-transition: border-color 160ms;
  transition: border-color 160ms;
}

#card-number.braintree-hosted-fields-focused {
  border-color: #777;
}

#card-number.braintree-hosted-fields-invalid {
  border-color: tomato;
}

#card-number.braintree-hosted-fields-valid {
  border-color: limegreen;
}



.response h1 {
  font-weight: bold;
  font-size: 40px;
}
.response .message{
  font-size: 21px;
}
.response pre{
  background: #efefef;
  display: none;
}


#payment-form .input-label{
  font-weight: 800;
  font-size: 1.5rem;
}

#payment-form .amount-wrapper{
  margin-bottom: 15px;
  font-weight: 800;
  font-size: 1.5rem;
}
#payment-form .amount-wrapper input{
  border:1px #333 solid;
  padding: 3px 10px;
  font-size: 1.5rem;
}

/* receipts ============= */
.receipt{
  margin-bottom: 20px;
  padding: 20px;
  background: #dee7e9;
  color: #000;
  font-family: monospace;
}
.receipt p{
  margin: 0;
}

.receipt hr{
  border-color: #000;
}


#loader-box{
  width: 50px;
  height: 50px;
  display: inline-block;
}
.loader{
  display: none;
}
.show .loader{
  display: block;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 3em;
  height: 3em;
}
.loader {
  margin: 14px auto;
  font-size: 10px;
  position: relative;
  top:-4px;
  text-indent: -9999em;
  border-top: .3em solid rgba(0, 0, 0, 0.5);
  border-right: .3em solid rgba(0, 0, 0, 0.5);
  border-bottom: .3em solid rgba(0, 0, 0, 0.5);
  border-left: .3em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
