---
layout: default
---

<article>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8">

        <div class="entry-content">
          {{ content }}
        </div>

      </div>
      <div class="col-sm-12 col-md-4">
        {% include quote-box.html %}
      </div>
    </div>
  </div>
</article>


<section id="donate">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <div id="braintree">
          <p>Payment embed goes here!</p>
        </div>

      </div>
    </div>
  </div>
</section>

{% include newsletter.html %}
