---
layout: default
---

<article>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8">

        <div class="entry-content">
          {{ content }}
        </div>

      </div>
      <div class="col-sm-12 col-md-4">
        {% include quote-box.html %}
      </div>
    </div>
  </div>
</article>


<section id="donate">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        We need your support to continue this work.

        <div id="braintree">
          Embed goes here!
        </div>



      </div>
    </div>
  </div>
</section>

<section id="newsletter">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        [Sign up for the newsletter]

      </div>
    </div>
  </div>
</section>
