---
layout: default
---

<section id="donate-prompt">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <button type="button" class="btn btn-primary btn-lg btn-block">Donate</button>

      </div>
    </div>
  </div>
</section>


{% include quote-box.html %}

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        {{ content }}

      </div>
    </div>
  </div>
</section>


<section id="donate">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        We need your support to continue this work.

        [BUTTON]

      </div>
    </div>
  </div>
</section>

<section id="newsletter">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        [Sign up for the newsletter]

      </div>
    </div>
  </div>
</section>
